body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  justify-content: space-between;
}

.rudder-indicator {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #000;
  border: 5px solid #333;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.rudder-scale {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: 50% 50%;
}

.rudder-tick {
  position: absolute;
  width: 1px;
  height: 6px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform-origin: 50% 65px;
}

.rudder-tick.red {
  background-color: red;
}

.rudder-tick.green {
  background-color: green;
}

.rudder-number {
  position: absolute;
  color: #fff;
  font-size: 8px;
  font-family: sans-serif;
  white-space: nowrap;
  transform: translate(-50%, 0%);
  padding-left: 15px;
  padding-right: 15px;
  top: 70%;
  width: 100%;
  text-align: center;
}

.rudder-needle {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 1.5px;
  height: 60px;
  background-color: #fff;
  transform-origin: 50% 0%;
  transform: translate(-50%, -100%);
  z-index: 2;
}

.rudder-boat {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 25px;
  background-color: #000;
  border: 2px solid white;
  clip-path: polygon(50% 0%, 100% 15%, 100% 35%, 50% 50%, 0% 35%, 0% 15%);
  z-index: 2;
}

.rudder-text {
  position: absolute;
  color: #fff;
  font-size: 7px;
  font-family: sans-serif;
  z-index: 2;
  text-align: center;
}

.rudder-rudder {
  top: 45px;
}

.rudder-koliasa {
  top: 53px;
  font-size: 4px;
}

.rudder-slider-container {
  width: 300px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
}

input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 20px;
  background: #ccc;
  outline: none;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

.rudder-slider-ticks {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2.5px;
}

.rudder-slider-tick {
  height: 10px;
  width: 1px;
  background-color: #666;
  align-self: flex-end;
}

.rudder-slider-number {
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  position: absolute;
  bottom: -15px;
  transform: translateX(-50%);
}
